In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
data = pd.read_csv('EDA_Gold_Silver_prices.csv')
data.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

#### Q1) What is the correlation in Gold and Silver prices (round off the answer to two decimal places)? Also, enter a fraction, not a percentage (e.g. 0.34, not 34.00%).

In [11]:
data['SilverPrice'].corr(data['GoldPrice'])

0.9542559570539775

#### Q2) What is the correlation in Gold and Silver prices for the years 2008(nearest two decimal places )?

In [15]:
data['Year'] = data['Month'].str[4:]

In [16]:
data.head()

    Month  SilverPrice  GoldPrice Year
0  Mar-97       186.48   12619.24   97
1  Apr-97       170.65   12338.59   97
2  May-97       170.44   12314.94   97
3  Jun-97       169.96   12202.78   97
4  Jul-97       155.80   11582.07   97

In [17]:
data_of_2008 = data[data['Year'] == '08']
data_of_2008.head()

      Month  SilverPrice  GoldPrice Year
130  Jan-08       632.29   35025.78   08
131  Feb-08       701.87   36642.46   08
132  Mar-08       775.49   39082.77   08
133  Apr-08       700.96   36416.00   08
134  May-08       718.20   37435.38   08

In [18]:
data_of_2008['SilverPrice'].corr(data['GoldPrice'])

0.009583757463369393