In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
data = pd.read_csv('odi-batting.csv')
data.shape

(50284, 8)

In [3]:
data.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57

#### Q1) Which player scored the highest number of centuries?

###### Approach #1 by using bivariate analysis

In [4]:
all_players_who_scored_century = data[data['Runs'] >= 100].loc[:, ['Player', 'Runs']]

In [5]:
all_players_who_scored_century.set_index('Player', inplace = True)

In [6]:
X = all_players_who_scored_century.groupby(by = 'Player').count()

In [7]:
X[X['Runs'] == X['Runs'].max()]

                    Runs
Player
Sachin R Tendulkar    48

###### Approach #2 by using business driven derived column

In [8]:
data['score_century'] = data['Runs'] >= 100

In [9]:
data['score_century'] = data['score_century'].astype('int32')

In [10]:
X = data.groupby(by = 'Player')['score_century'].sum()

In [11]:
X[X == X.max()]

Player
Sachin R Tendulkar    48
Name: score_century, dtype: int32

#### Q2) Among all the innings where a century was scored by a batsman, which one has the highest strike rate?

In [12]:
filter_data_by_century = data[data['Runs'] >= 100]

In [13]:
filter_data_by_century.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,score_century
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121,1
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111,1
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72,1
62,Afghanistan,Noor Ali Zadran,114,16-02-2010,Tue,Sharjah CA Stadium,Canada,127,1
87,Afghanistan,Karim Sadiq,114,16-08-2010,Mon,Cambusdoon New Ground,Scotland,108,1

In [14]:
filter_data_by_century['strike_rate'] = filter_data_by_century['Runs'] / filter_data_by_century['Balls']

C:\Users\vimishra\AppData\Local\Temp\ipykernel_15172\1178509839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_data_by_century['strike_rate'] = filter_data_by_century['Runs'] / filter_data_by_century['Balls']

In [16]:
filter_data_by_century[filter_data_by_century['strike_rate'] == filter_data_by_century['strike_rate'].max()]

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,score_century,strike_rate
28157,Pakistan,Shahid Afridi,102,04-10-1996,Fri,Gymkhana Club Ground,Sri Lanka,40,1,2.55

#### Q3) In which year were the maximum number of centuries scored by Indian players?

In [23]:
indian_players = data[data['Country'] == 'India']

In [24]:
indian_players['year'] = pd.DatetimeIndex(indian_players['MatchDate']).year

C:\Users\vimishra\AppData\Local\Temp\ipykernel_15172\2556921469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indian_players['year'] = pd.DatetimeIndex(indian_players['MatchDate']).year

In [25]:
indian_players.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,score_century,year
13601,India,Sachin R Tendulkar,200,24-02-2010,Wed,Captain Roop Singh Stadium,South Africa,147,1,2010
13602,India,Sachin R Tendulkar,186,08-11-1999,Mon,Lal Bahadur Shastri Stadium,New Zealand,150,1,1999
13603,India,Sachin R Tendulkar,175,05-11-2009,Thu,Rajiv Gandhi International Stadium,Australia,141,1,2009
13604,India,Sachin R Tendulkar,163,08-03-2009,Sun,AMI Stadium,New Zealand,133,1,2009
13605,India,Sachin R Tendulkar,152,23-02-2003,Sun,City Oval,Namibia,151,1,2003

In [27]:
X = indian_players.groupby(by = 'year')['score_century'].sum()

In [28]:
X[X == X.max()]

year
1998    18
Name: score_century, dtype: int32